<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XX开放平台首页</title>
</head>

</head>
<body>

<h1>XX开放平台首页</h1>
<p>欢迎来到XX研究中心</p>


<form action="/user/sign_out" method="post" novalidate autocapitalize="off">
    <div>
    <input type="submit" value="注销登录">
    </div>
</form>

<form action="/user/update_passwd_page" method="get" novalidate autocapitalize="off">
    <div>
    <input type="submit" value="更新密码">
    </div>
</form>

</body>

</html>