<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
    <p>请输入您的账号密码进行注册</p>
<form action="/sign_up" method="post" novalidate autocapitalize="off">
    <div>
    <label for="username">账号名称:</label>
    <input type="text" name="username" id="username">
    </div>


    <div>
        <label for="email">邮箱:</label>
        <input type="text" name="email" id="email">
    </div>

    <div>
        <label for="password">密码:</label>
        <input type="password" name="password" id="password">
        </div>
    
        <div>
            <label for="retry_password">再次输入密码:</label>
            <input type="password" name="retry_password" id="retry_password">
        </div>

    <div>
    <input type="submit" value="注册">
    </div>
</form>
</body>
</html>