<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
    <p>请输入您的新的密码</p>
<form action="/user/update_passwd" method="post" novalidate autocapitalize="off">
    <div>
        <label for="password">密码:</label>
        <input type="password" name="password" id="password">
        </div>
    
        <div>
            <label for="retry_password">再次输入密码:</label>
            <input type="password" name="retry_password" id="retry_password">
        </div>

    <div>
    <input type="submit" value="确认更新密码">
    </div>
</form>
</body>
</html>